// Use For Project Specific Variables

$backgroundColor              :         rgba(40, 41, 41, 1.0000);

$barChartBackgoundTop         :         rgba(170, 176, 176, 1.0000);
$barChartBackgroundBottom     :         rgba(170, 176, 176, 0.7);

$greyBoxShadow                :         #5A5B5B;
$whiteBoxShadow               :         rgba(255,255,255,0.8);
$backBoxShadow                :         rgba(0,0,0,0.2);

$barBackground                :         rgba(210, 212, 216, 1.0000);
$barChartColour               :         rgba(37, 175, 163, 1.0000);